#root{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 800px;
}

body{
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
}
